# gitignore, do not put comments `#` inline

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# MS Word temporary files
# from https://github.com/github/gitignore/blob/main/Global/MicrosoftOffice.gitignore
\~$*.doc*
*.tmp

# Fritzing 
## projects 
*.fzz 
